@import "tailwindcss";

/* Sofia Pro Font Faces */
@font-face {
   font-family: "Sofia Pro";
   src: url("./assets/fonts/sofia-pro/Sofia Pro UltraLight Az.otf") format("opentype");
   font-weight: 200;
   font-style: normal;
}

@font-face {
   font-family: "Sofia Pro";
   src: url("./assets/fonts/sofia-pro/Sofia Pro UltraLight Italic Az.otf") format("opentype");
   font-weight: 200;
   font-style: italic;
}

@font-face {
   font-family: "Sofia Pro";
   src: url("./assets/fonts/sofia-pro/Sofia Pro ExtraLight Az.otf") format("opentype");
   font-weight: 250;
   font-style: normal;
}

@font-face {
   font-family: "Sofia Pro";
   src: url("./assets/fonts/sofia-pro/Sofia Pro ExtraLight Italic Az.otf") format("opentype");
   font-weight: 250;
   font-style: italic;
}

@font-face {
   font-family: "Sofia Pro";
   src: url("./assets/fonts/sofia-pro/Sofia Pro Light Az.otf") format("opentype");
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: "Sofia Pro";
   src: url("./assets/fonts/sofia-pro/Sofia Pro Light Italic Az.otf") format("opentype");
   font-weight: 300;
   font-style: italic;
}

@font-face {
   font-family: "Sofia Pro";
   src: url("./assets/fonts/sofia-pro/Sofia Pro Regular Az.otf") format("opentype");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: "Sofia Pro";
   src: url("./assets/fonts/sofia-pro/Sofia Pro Regular Italic Az.otf") format("opentype");
   font-weight: 400;
   font-style: italic;
}

@font-face {
   font-family: "Sofia Pro";
   src: url("./assets/fonts/sofia-pro/Sofia Pro Medium Az.otf") format("opentype");
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: "Sofia Pro";
   src: url("./assets/fonts/sofia-pro/Sofia Pro Medium Italic Az.otf") format("opentype");
   font-weight: 500;
   font-style: italic;
}

@font-face {
   font-family: "Sofia Pro";
   src: url("./assets/fonts/sofia-pro/Sofia Pro Semi Bold Az.otf") format("opentype");
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: "Sofia Pro";
   src: url("./assets/fonts/sofia-pro/Sofia Pro Semi Bold Italic Az.otf") format("opentype");
   font-weight: 600;
   font-style: italic;
}

@font-face {
   font-family: "Sofia Pro";
   src: url("./assets/fonts/sofia-pro/Sofia Pro Bold Az.otf") format("opentype");
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: "Sofia Pro";
   src: url("./assets/fonts/sofia-pro/Sofia Pro Bold Italic Az.otf") format("opentype");
   font-weight: 700;
   font-style: italic;
}

@font-face {
   font-family: "Sofia Pro";
   src: url("./assets/fonts/sofia-pro/Sofia Pro Black Az.otf") format("opentype");
   font-weight: 900;
   font-style: normal;
}

@font-face {
   font-family: "Sofia Pro";
   src: url("./assets/fonts/sofia-pro/Sofia Pro Black Italic Az.otf") format("opentype");
   font-weight: 900;
   font-style: italic;
}

@theme {
   --font-family-sofia: "Sofia Pro", sans-serif;

   --color-primary: #002063;
   --color-secondary: #c59284;
   --color-gray-light: #979797;
}

body {
   font-family: var(--font-family-sofia);
   color: var(--color-primary);
}
